---
layout: home
title: Welcome!
---
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-9"> 
            {%- if site.posts.size > 0 -%}
                <p class="h4">{{ page.list_title | default: "Photo Posts" }}</p>
                <ul class="list-unstyled">
                {%- for post in paginator.posts -%}
                <li style="margin-bottom: 25px">
                    <figure class="figure">
                    <a href="{{ post.url | relative_url }}">
                        <img class="figure-img img-fluid rounded" src="{{ post.thumb | relative_url }}" />
                    </a>
                    <figcaption class="figure-caption">
                        <span class="text-muted h6">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title | escape }}
                        </a>
                        </span>
                        &middot;
                        <span class="text-muted">
                        {%- assign date_format = "%b %-d, %Y" -%}
                        <em>{{ post.date | date: date_format }}</em>
                        </span>
                        {%- if site.show_excerpts -%}
                        {{ post.excerpt }}
                        {%- endif -%}
                    </figcaption>
                    </figure>
                </li>
                {%- endfor -%}
                </ul>
                <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
            {%- endif -%}
        </div>
        <div class="col-sm-3">
            <p class="h4">Tags</p>
            {% capture site_tags %}
            {% for tag in site.tags %}
            {{ tag | first }}
            {% unless forloop.last %},{% endunless %}
            {% endfor %}
            {% endcapture %}
            {% assign tag_words = site_tags | split:',' | sort %}
            {% for item in tag_words %}
                <a href="/tags/{{ item | escape_once | downcase | strip | url_encode }}.html" class="badge badge-info">{{ item | escape_once | downcase | strip}}</a>
            {% endfor %}
        </div>
    </div>
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
        <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <em>{{ page }}</em>
        {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
        {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
        <span>Next &raquo;</span>
    {% endif %}
    </div>
    {% endif %}
</div>