---
layout: default
---
<article>

  <header>
    <p class="text-muted">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • {{ page.author }}
      {%- endif -%}
    </p>
  </header>

  <section>
      <div class="row">
        <div class="col-sm-6 text-center">
          <div class="fotorama" data-nav="thumbs" data-hash="true">
          {% for item in page.photos %}
            <a href="assets/content/dogs/{{ page.slug | escape }}/img/mid/{{ item }}"><img src="assets/content/dogs/{{ page.slug | escape }}/img/tb/{{ item }}" /></a>
          {% endfor %}
          </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-10">
                    <h1>{{ page.title | escape }}</h1>
                    {%- if page.breed -%}
                    <p class="lead text-light">{{ page.breed  | escape }}</p>
                    {%- endif -%}
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><strong>DOB</strong></div>
                <div class="col-sm-10 text-light">{{ page.dob | escape }}</div>
            </div>
            {%- if page.weight -%}
            <div class="row">
                <div class="col-sm-2"><strong>Weight</strong></div>
                <div class="col-sm-10 text-light">{{ page.weight | escape }}</div>
            </div>
            {%- endif -%}
            {%- if page.registry -%}
            <div class="row">
                <div class="col-sm-2"><strong>{{ page.registry  | escape }}</strong></div>
                <div class="col-sm-10 text-light">{{ page.registration  | escape }}</div>
            </div>
            {%- endif -%}
            <div class="row">
                <div class="col-sm-10"><hr/></div>
                <div class="col-sm-2"></div>
            </div>
            {%- if page.sire -%}
            <div class="row">
                <div class="col-sm-2"><strong>Sire</strong></div>
                <div class="col-sm-10 text-light">{{ page.sire | escape }}</div>
            </div>
            {%- endif -%}
            {%- if page.dam -%}
            <div class="row">
                <div class="col-sm-2"><strong>Dam</strong></div>
                <div class="col-sm-10 text-light">{{ page.dam | escape }}</div>
            </div>
            {%- endif -%}
            {%- if page.hips -%}
            <div class="row">
                <div class="col-sm-2"><strong>Hips</strong></div>
                <div class="col-sm-10 text-light">{{ page.hips | escape }}</div>
            </div>
            {%- endif -%}
            {%- if page.elbows -%}
            <div class="row">
                <div class="col-sm-2"><strong>Elbows</strong></div>
                <div class="col-sm-10 text-light">{{ page.elbows | escape }}</div>
            </div>
            {%- endif -%}
            {%- if page.knees -%}
            <div class="row">
                <div class="col-sm-2"><strong>Knees</strong></div>
                <div class="col-sm-10 text-light">{{ page.knees | escape }}</div>
            </div>
            {%- endif -%}
            {%- if page.shoulders -%}
            <div class="row">
                <div class="col-sm-2"><strong>Shoulders</strong></div>
                <div class="col-sm-10 text-light">{{ page.shoulders | escape }}</div>
            </div>
            {%- endif -%}
            {%- if page.heart -%}
            <div class="row">
                <div class="col-sm-2"><strong>Heart</strong></div>
                <div class="col-sm-10 text-light">{{ page.heart | escape }}</div>
            </div>
            {%- endif -%}
            {%- if page.eyes -%}
            <div class="row">
                <div class="col-sm-2"><strong>Eyes</strong></div>
                <div class="col-sm-10 text-light">{{ page.eyes | escape }}</div>
            </div>
            {%- endif -%}
            {%- if page.ancestor -%}
            <div class="row">
                <div class="col-sm-10"><hr/></div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-10"><strong>Bloodlines</strong></div>
                <div class="col-sm-2"></div>
            </div>
              {% for item in page.ancestor %}
              <div class="row">
                  <div class="col-sm-10 text-light">{{ item | escape }}</div>
                  <div class="col-sm-2"></div>
              </div>
              {% endfor %}
            {%- endif -%}
        </div>
      </div>
      <hr/>
      <span class="text-light">{{ content }}</span>
  </section>
</article>
