---
layout: default
---
<div>
  {%- if page.title -%}
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  {%- endif -%}
  <section>
      {{ content }}
  </section>
  <div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6"> 
            {%- if site.posts.size > 0 -%}
              <p class="h4">{{ page.list_title | default: "Photo Posts" }}</p>
              <ul class="list-unstyled">
                {%- for post in site.posts -%}
                <li style="margin-bottom: 25px">
                  <figure class="figure">
                    <img class="figure-img img-fluid rounded" src="{{ post.thumb | escape }}" />
                    <figcaption class="figure-caption">
                      <span class="text-muted h6">
                        <a href="{{ post.url | relative_url }}">
                          {{ post.title | escape }}
                        </a>
                      </span>
                      &middot;
                      <span class="text-muted">
                        {%- assign date_format = "%b %-d, %Y" -%}
                        {{ post.date | date: date_format }}
                      </span>
                      {%- if site.show_excerpts -%}
                        {{ post.excerpt }}
                      {%- endif -%}
                    </figcaption>
                  </figure>
                </li>
                {%- endfor -%}
              </ul>
              <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
            {%- endif -%}
        </div>
        <div class="col-sm-4">
            <p class="h4">Tags</p>
            {% for tag in site.tags %}
              <h6><a href="/tags/{{ tag[0] | escape_once | url_encode }}.html">{{ tag[0] | escape_once }}</a></h6>
              <ul>
                {% for post in tag[1] %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            {% endfor %}
        </div>
    </div>
  </div>
</div>
