---
layout: default
---
<article>

  <header>
    <h1>{{ page.title | escape_once  }}</h1>
  </header>

  <section>
    <div class="row">
      <div class="col-sm-6 text-center">
        <div class="fotorama" data-nav="thumbs" data-hash="true">
        {% for item in page.photos %}
          <a href="/{{ item }}">"{{ item | escape_once }}"</a>
        {% endfor %}
        </div>
      </div>
      <div class="col-sm-6">
          <h1>{{ page.title | escape_once }}</h1>
          {{ content }}
      </div>
    </div>
  </section>

</article>
