---
layout: default
---
<article>

  <header>
  </header>

  <section>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <span class="border border-warning p-3">
            <figure class="figure">
                <span class="border border-warning">
                  <img src="/assets/content/posts/tech/img/lg/{{ page.title }}.jpg" class="figure-img img-fluid"
                  alt="{{ page.title | escape }}">
                </span>
                <figcaption class="figure-caption"><p class="lead text-center">{{ page.title | escape }}</p></figcaption>
            </figure>
        </span>
        <br/>
      </div>
      <div class="row d-flex justify-content-center">
          <div class="col-sm-12 text-center m-3">
              {{ content }}
          </div>
      </div>
      <div class="row d-flex justify-content-center">
          <div class="col-sm-12 text-center m-3"><strong>Tags</strong>&nbsp;
              {% for item in page.exif %}
              {% if item.key == "Keyword" %}
                <a href="/tags/{{ item.value | escape_once | downcase | url_encode }}.html" class="badge badge-info">{{ item.value | escape_once | downcase }}</a>
              {% endif %}
              {% endfor %}
          </div>
      </div>
        {% for item in page.exif %}
        {% if item.key != "Keyword" %}
          {% assign remainder = forloop.index | modulo: 2 %}
          {% if remainder == 0 %}
          <div class="row d-flex justify-content-center border bg-light"> 
          {% else %}
          <div class="row d-flex justify-content-center border">
          {% endif %}
            <div class="col-sm-5"><strong>{{ item.key | escape }}</strong></div>
            <div class="col-sm-7">{{ item.value | escape_once }}</div>
          </div>
          {% endif %}
        {% endfor %}
    </div>
  </section>

</article>
