---
layout: default
---
<article>

  <header>
  </header>

  <section>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <span class="border border-warning p-3 bg-light">
            <figure class="figure">
              <a title="{{ page.title | escape }}" href="/assets/content/posts/tech/img/{{ page.title }}.jpg"><img src="/assets/content/posts/tech/img/lg/{{ page.title }}.jpg" class="figure-img img-fluid"
                alt="{{ page.title | escape }}">
              </a>
              <figcaption class="figure-caption text-center">{{ content }}<p class="lead text-center">Click Image to Zoom In</p></figcaption>
            </figure>
        </span>
        <br/>
      </div>
      <div class="row d-flex justify-content-center">
          <div class="col-sm-12 text-center m-3"><strong>Tags</strong>&nbsp;
              {% for item in page.tags %}
                <a href="/tags/{{ item | escape_once | downcase | url_encode }}.html" class="badge badge-info">{{ item | escape_once | downcase }}</a>
              {% endfor %}
          </div>
      </div>
      <div class="col-md-12 text-center m-3"> 
          <button href="#Bar" class="btn btn-primary" data-toggle="collapse">Toggle Photo Details</button>
      </div>
      <div id="Bar" class="collapse">
        {% for item in page.exif %}
        {% if item.key != "Keyword" %}
          {% assign remainder = forloop.index | modulo: 2 %}
          {% if remainder == 0 %}
          <div class="row d-flex justify-content-center border bg-secondary"> 
          {% else %}
          <div class="row d-flex justify-content-center border text-light bg-dark">
          {% endif %}
            <div class="col-sm-5"><strong>{{ item.key | escape }}</strong></div>
            <div class="col-sm-7">{{ item.value | escape_once }}</div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
</article>
